[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
jedi = "*"
rope = "*"
flake8 = "*"
nose = "*"
isort = {extras = ["pipfile"],version = "*"}

[packages]
numpy = "*"
scipy = "*"
jupyter = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
statsmodels = "*"
pymc3 = "*"
networkx = "*"
hmmlearn = "*"
biopython = "*"
ete3 = "*"
sklearn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
